#whatever {
  background-color: lightblue;
  height: 100vh;
  width: 100;
}

#interest-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  #interest-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  #interest-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  #interest-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
